body {
  background: blanchedalmond;
}
.container {
  outline: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 2em;
  text-align: center;
}
.a {
  background-color: blueviolet;
  flex-grow: 2;
}
.b {
  background-color: blue;
  min-height: 65vh;
}
.c {
  background-color: aqua;
  flex-grow: 2;
}
.a, .b, .c {
  margin: 0.5em;}

@media(min-width:600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .b {
    width: 75vw;
  }
  .a {
    width: 100%;
  }
   
}